<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>VocaLocal: Check In on Foursquare with the AT&T Speech API</title>
	<meta name="description" content="VocaLocal: Check In on Foursquare with the AT&T Speech API">
	<meta name="author" content="Michael Owens">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles/bootstrap.css">
	<link rel="stylesheet" href="/styles/example-vocalocal.css">
	<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js'></script>
</head>
<body>
<div class="container">
	<div class="row">
	{{#if foursquare}}
		<button id="button-recorder" class="btn btn-large"><i class="icon-off"></i> <span class="action">Connect</span></button>
		<span id="button-save">
			<button class="btn btn-large" disabled="disabled"><i class="icon-search"></i> <span class="action">Search</span></button>
			<span id="save_button">
				<span id="flashcontent"></span>
			</span>
		</span>
		<button id="button-restart" class="btn btn-large"><i class="icon-user"></i> <span class="action">Log Out</span></button>
	{{else}}
		<button id="button-connect" class="btn btn-large"><i class="icon-user"></i> <span class="action">Connect to Foursquare</span></button>
	{{/if}}
	</div>
	<div id="searchResults" class="row"></div>
	<div id="geoDataResults"></div>
	<input type="hidden" id="search-term" name="search-term">
	<form id="uploadForm" name="uploadForm" action="/upload">
		<input name="authenticity_token" value="xxxxx" type="hidden">
		<input name="upload_file[parent_id]" value="1" type="hidden">
		<input name="format" value="json" type="hidden">
	</form>
	<script type="text/javascript" src="/scripts/swfobject.js"></script>
	<script type="text/javascript" src="/scripts/example-vocalocal.js"></script>
</div>
</body>
</html>